@font-face {
   font-family: 'LordcorpsStencil-rg4dx';
   font-display: swap;
   src: url('LordcorpsStencil-rg4dx/font.ttf');
}
@font-face {
   font-family: 'JackportRegularNcv-BeY3';
   font-display: swap;
   src: url('JackportRegularNcv-BeY3/font.ttf');
}
