@font-face {
   font-family: 'JackportRegularNcv-BeY3';
   font-display: swap;
   src: url('file:///C:/Users/tamir/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-04_215456/fonts/JackportRegularNcv-BeY3/font.ttf');
}
