@font-face {
   font-family: 'LordcorpsStencil-rg4dx';
   font-display: swap;
   src: url('file:///C:/Users/tamir/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-04_215456/fonts/LordcorpsStencil-rg4dx/font.ttf');
}
